<ion-header>
  <ion-toolbar>
    <ion-title>Risk Detail</ion-title>
    <ion-buttons slot="start">
        <ion-button (click)="closeModal()"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Default Segment -->
  <ion-segment [(ngModel)]="segmentDetailselected" (ionChange)="segmentChanged($event)" scrollable class="ion-no-padding">
    <ion-segment-button *ngFor="let segment of segmentDetailMenu; let i = index" [value]="i+1">
      <ion-label>{{ segment }}</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div *ngIf="segmentDetailselected==1">
    <ion-card>
      <ion-item class="ion-no-padding">
        <ion-label class="ion-text-wrap">
          <ion-text class="ion-float-left">
            <h2>Risk Management</h2>
          </ion-text>
        </ion-label>
      </ion-item>
      <ion-card-content>
        <p>PIC : {{ item.approval_pic_management_name }}</p>
        <p>Update Date : {{ item.approval_date_owner }}</p>
        <p>Agreement Status : {{ item.is_approve_management }}</p>
        <p>Remark : {{ item.approval_remark_management }}</p>
      </ion-card-content>
    </ion-card>
  
    <ion-card>
      <ion-item class="ion-no-padding">
        <ion-label class="ion-text-wrap">
          <ion-text class="ion-float-left">
            <h2>Risk Owner</h2>
          </ion-text>
        </ion-label>
      </ion-item>
      <ion-card-content>
        <p>PIC : {{ item.risk_owner_name }}</p>
        <p>Update Date : {{ item.approval_date_owner }}</p>
        <p>Agreement Status : {{ item.is_approve_owner }}</p>
        <p>Remark : {{ item.approval_remark_owner }}</p>
      </ion-card-content>
    </ion-card>
  
    <ion-card>
      <ion-item class="ion-no-padding">
        <ion-label class="ion-text-wrap">
          <ion-text class="ion-float-left">
            <h2>Control Owner</h2>
          </ion-text>
        </ion-label>
      </ion-item>
      <ion-card-content>
        <p>PIC : </p>
        <p>Update Date : </p>
        <p>Agreement Status :</p>
        <p>Remark : </p>
      </ion-card-content>
    </ion-card>
  </div>

  <div *ngIf="segmentDetailselected==2"></div>
  <div *ngIf="segmentDetailselected==3"></div>
  <div *ngIf="segmentDetailselected==4"></div>
  <div *ngIf="segmentDetailselected==5"></div>
  <div *ngIf="segmentDetailselected==6"></div>
</ion-content>

<ion-fab vertical="bottom" horizontal="end" slot="fixed" edge="false">
  <ion-fab-button (click)="handleOpenmenu(item)">
    <ion-icon name="add-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>