<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- <ion-menu-button autoHide="false"></ion-menu-button> -->
      <ion-back-button text="" defaultHref="/tabs"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      <!-- {{ title | date :  "MMMM, d" }} -->
      {{topTitle}}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/notification']">
        <ion-badge color="warning">3</ion-badge>
        <ion-icon name="notifications-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <!-- <ion-icon slot="icon-only" name="arrow-back"></ion-icon> -->
  <div class="section-search">
    <div class="outer-searchbar with-filter">
      <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="filterItems($event)" (ionCancel)="onCancel($event)" placeholder="Search Task" [debounce]="500" animated="true"></ion-searchbar>
      <div class="filters">
        <ion-button (click)="filterSearch()" fill="clear"><ion-icon name="options-outline"></ion-icon></ion-button>
      </div>
    </div>
  </div>
  <div class="recentSearches" *ngIf="!commonService.isEmptyObject(recentSearches);else recentNo">
    <!-- <h2 class="ion-text-right">{{topTitle}}</h2> -->
    <ion-card *ngFor="let item of recentSearches">
      <ion-item class="ion-no-padding">
        <ion-label class="ion-text-wrap">
          <ion-text class="ion-float-left">
            <h2>{{ item.track_code }}</h2>
          </ion-text>
        </ion-label>
        <ion-icon slot="end" size="large" (click)="handleClickFav(item)" [name]="item.is_flagged == true ? 'star' : 'star-outline'" [ngClass]="item.fav == true ? 'added' : ''"></ion-icon>
        <ion-icon slot="end" size="large" (click)="detailModal(item)" name="enter-outline"></ion-icon>
      </ion-item>
      <ion-card-content class="ion-no-padding">
        <div class="ion-padding detail-desc">
          <h2>{{item.topic }}</h2>
          <div [innerHTML]="item.track_desc"></div>
        </div>
        <!-- List of Text Items -->
        <ion-list>
          <ion-item lines="none">
            <svg width="18" height="22" viewBox="0 0 18 22" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M9 0.916687L0.75 4.58335V10.0834C0.75 15.1709 4.27 19.9284 9 21.0834C13.73 19.9284 17.25 15.1709 17.25 10.0834V4.58335L9 0.916687ZM9 4.49169C9.5439 4.49169 10.0756 4.65297 10.5278 4.95515C10.9801 5.25732 11.3325 5.68681 11.5407 6.18931C11.7488 6.6918 11.8033 7.24474 11.6972 7.77818C11.5911 8.31163 11.3291 8.80164 10.9445 9.18623C10.5599 9.57082 10.0699 9.83274 9.5365 9.93885C9.00305 10.045 8.45012 9.9905 7.94762 9.78236C7.44512 9.57421 7.01563 9.22174 6.71346 8.7695C6.41128 8.31727 6.25 7.78559 6.25 7.24169C6.25 6.51234 6.53973 5.81287 7.05546 5.29714C7.57118 4.78142 8.27065 4.49169 9 4.49169ZM9 11.7334C10.8333 11.7334 14.5 12.7325 14.5 14.5567C13.898 15.4643 13.0807 16.2088 12.121 16.7238C11.1613 17.2389 10.0891 17.5084 9 17.5084C7.91087 17.5084 6.83866 17.2389 5.879 16.7238C4.91933 16.2088 4.10204 15.4643 3.5 14.5567C3.5 12.7325 7.16667 11.7334 9 11.7334Z" fill="#EB445A"/>
            </svg>              
            <ion-label>Assignor : {{ item.creator }}</ion-label>
          </ion-item>
          <ion-item lines="none">
            <svg width="18" height="20" viewBox="0 0 18 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M17.25 2.75002H11.585C11.2 1.68669 10.1917 0.916687 9 0.916687C7.80833 0.916687 6.8 1.68669 6.415 2.75002H0.75V19.25H17.25V2.75002ZM9 2.75002C9.50417 2.75002 9.91667 3.16252 9.91667 3.66669C9.91667 4.17085 9.50417 4.58335 9 4.58335C8.49583 4.58335 8.08333 4.17085 8.08333 3.66669C8.08333 3.16252 8.49583 2.75002 9 2.75002ZM9 6.41669C10.5217 6.41669 11.75 7.64502 11.75 9.16669C11.75 10.6884 10.5217 11.9167 9 11.9167C7.47833 11.9167 6.25 10.6884 6.25 9.16669C6.25 7.64502 7.47833 6.41669 9 6.41669ZM14.5 17.4167H3.5V16.1334C3.5 14.3 7.16667 13.2917 9 13.2917C10.8333 13.2917 14.5 14.3 14.5 16.1334V17.4167Z" fill="#FFC409"/>
            </svg>              
            <ion-label>Assignee : {{ item.assignee }}</ion-label>
          </ion-item>
          <ion-item lines="none">
            <svg width="18" height="20" viewBox="0 0 18 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M2.125 19.625H0.75V0.375H17.25L13.2625 6.5625L17.25 12.75H2.125V19.625Z" fill="#2DD36F"/>
            </svg>              
            <ion-label>Status : <ion-text color="danger">
              <span class="ion-text-uppercase">{{ item.status_name }}</span>
            </ion-text></ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
      <ion-footer class="ion-padding">
        <ion-row>
          <ion-col size="6" class="ion-text-left">
            <ion-label>Next Reporting</ion-label>
            <span>{{ item.nextrep }}</span>
          </ion-col>
          <ion-col size="6" class="ion-text-right">
            <ion-label>Last Update</ion-label>
            <span>{{ commonService.convertformatDate(item.datelastx) }}</span>
          </ion-col>
        </ion-row>
      </ion-footer>
    </ion-card>
  </div>

  <ng-template #recentNo>
    <div class="recent-no ion-align-items-center">
      <h2 color="danger">Not Found!</h2>
    </div>
  </ng-template>

  <ion-infinite-scroll *ngIf="!recentSearches" (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

<ion-fab *ngIf="recentSearches" vertical="bottom" horizontal="end" slot="fixed" edge="false">
  <ion-fab-button (click)="handleOpenmenu()">
    <ion-icon name="add-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>