<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- <ion-menu-button autoHide="false"></ion-menu-button> -->
      <ion-back-button text="" defaultHref="/tabs"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      {{ title | date :  "MMMM, d" }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="showNotifications()">
        <ion-badge color="warning">3</ion-badge>
        <ion-icon name="notifications-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-no-padding" [fullscreen]="false">
  <div class="cal ion-padding">
    <ion-card>
      <ion-datetime [(ngModel)]="defaultDate" presentation="date"></ion-datetime>
    </ion-card>
  </div>
  <!-- fab placed to the (vertical) center and end -->
  <!-- <ion-fab vertical="center" horizontal="end" edge slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->

  <!-- List of Text Items -->
  <ion-list>
    <ion-list-header>Summary</ion-list-header>
    <ion-item *ngFor="let item of summaryTask">
      <div id="summary-date" slot="start">
        <ion-badge>{{ commonService.convertformatDay(item.datelastx) }}</ion-badge>
      </div>
      <ion-label>
        <h3>{{item.topic }}</h3>
        <p [innerHTML]="item.track_desc"></p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
