<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      {{ titleText }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/notification']">
        <ion-badge color="warning">3</ion-badge>
        <ion-icon name="notifications-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-no-padding" [fullscreen]="false" #content>
	<ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <!-- Default Segment -->
  <ion-segment scrollable [(ngModel)]="topSegment" (ionChange)="segmentChanged($event)" class="ion-no-padding">
    <ion-segment-button value="all_related_risk" layout="icon-start">
      <ion-icon src="assets/icon-risk.svg"></ion-icon>
      <ion-label>All Risk</ion-label>
    </ion-segment-button>
    <ion-segment-button value="control_owner" layout="icon-start">
      <ion-icon src="assets/icon-task.svg"></ion-icon>
      <ion-label>Control Owner</ion-label>
    </ion-segment-button>
    <ion-segment-button value="risk_owner" layout="icon-start">
      <ion-icon src="assets/icon-approval.svg"></ion-icon>
      <ion-label>Risk Owner</ion-label>
    </ion-segment-button>
    <ion-segment-button value="cc_risk" layout="icon-start">
      <ion-icon src="assets/icon-approval.svg"></ion-icon>
      <ion-label>CC Risk</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div id="countertask" class="ion-no-padding">
    <ion-item lines="none">
      <ion-label>{{ chartTitle }} Summary</ion-label>
      <ion-button fill="clear" slot="end" (click)="handleShowAll()">Show All</ion-button>
    </ion-item>
    <ion-card class="ion-padding">
      <ion-card-content class="ion-no-padding">
        <ion-grid>
          <ion-row>
            <ion-col *ngFor="let item of summaryRiskRangking" (click)="handleRiskRangking(item)" [size]="3">
              <ion-badge color="{{convertToColor(item.title, item.color)}}">{{ item.numrec }}</ion-badge>
              <ion-label>{{ item.title }}</ion-label>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>

  <div id="riskstatus-summary" class="ion-no-padding">
    <ion-item lines="none">
      <ion-label>Risk Status Summary</ion-label>
      <ion-button fill="clear" slot="end" (click)="handleShowAll()">Show All</ion-button>
    </ion-item>
    <ion-card class="ion-padding">
      <ion-card-content class="ion-no-padding">
        <ion-grid>
          <ion-row>
            <ion-col *ngFor="let item of summaryRiskStatus" (click)="handleRiskStatus(item)" [size]="3">
              <ion-badge color="{{convertToColor(item.title, item.color)}}">{{ item.numrec }}</ion-badge>
              <ion-label>{{ item.title }}</ion-label>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>