<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/tabs"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      {{topTitle}}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/notification']">
        <ion-badge color="warning">3</ion-badge>
        <ion-icon name="notifications-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false" class="ion-no-padding">
  <form (ngSubmit)="addTask()" [formGroup]="newTaskForm">
    <ion-range style="pointer-events: none;" class="custom-ion-range-slider" [(ngModel)]="currentValue" [ngModelOptions]="{standalone: true}" [min]="1" [max]="4" snaps="true" pin="true" color="secondary"></ion-range>

    <ion-slides pager="false" [options]="slideOpts" (ionSlideDidChange)="slideChanged($event)" #mySlider>
      <ion-slide>    
        <ion-list>
          <ion-list-header color="secondary">
            <ion-label>Risk Identification</ion-label>
          </ion-list-header>
          <ion-item lines="inset">
            <ion-label position="stacked">Task ID</ion-label>
            <ion-note slot="end">{{ taskId }}</ion-note>
          </ion-item>
      
          <ion-item lines="none">
            <ion-label position="stacked">Country</ion-label>
            <ion-select placeholder="Select One" [(ngModel)]="userPref.councode" (ionChange)="onChangeCountry($event)" formControlName="councode">
              <ion-select-option *ngFor="let val of countryArr" value="{{ val.ct_id }}">{{ val.ct_name }}</ion-select-option>
            </ion-select>
          </ion-item>
    
          <ion-item lines="none">
            <ion-label position="stacked">Company</ion-label>
            <ion-select placeholder="Select One" [(ngModel)]="userPref.compcode" (ionChange)="onChangecompany($event)" formControlName="compcode">
              <ion-select-option *ngFor="let val of companyArr" value="{{ val.co_id }}">{{ val.co_name }}</ion-select-option>
            </ion-select>
          </ion-item>
    
          <ion-item lines="inset">
            <ion-label position="stacked">Division/Section</ion-label>
            <ion-select placeholder="Select One" [(ngModel)]="userPref.deptcode" (ionChange)="onChangeDepartement($event)" formControlName="deptcode">
              <ion-select-option *ngFor="let val of deptArr" value="{{ val.dept_id }}">{{ val.dept_name }}</ion-select-option>
            </ion-select>
          </ion-item>
    
          <ion-item lines="none">
            <ion-label position="stacked">Risk Title</ion-label>
            <ion-input type="text" formControlName="txttitle"></ion-input>
          </ion-item>
    
          <ion-item lines="none">
            <ion-label position="stacked">Risk Event</ion-label>
            <ion-input type="text" formControlName="txtevent"></ion-input>
          </ion-item>
    
          <ion-item lines="none">
            <ion-label position="stacked">Cause</ion-label>
            <ion-input type="text" formControlName="txtcause"></ion-input>
          </ion-item>
    
          <ion-item lines="none">
            <ion-label position="stacked">Consequences</ion-label>
            <ion-input type="text" formControlName="txtconsequences"></ion-input>
          </ion-item>
      
          <ion-item lines="none">
            <ion-label position="stacked">Risk Category</ion-label>
            <ion-input type="text" placeholder="Select One" formControlName="txtriskcat" (click)="presentModal()"></ion-input>
          </ion-item>
      
          <ion-item lines="none">
            <ion-label position="stacked">Risk Owner</ion-label>
            <ion-input type="text" placeholder="Select One" formControlName="txtriskowner"></ion-input>
          </ion-item>
        </ion-list>
      </ion-slide>
      
      <ion-slide>
        <ion-list>
          <ion-list-header color="secondary">
            <ion-label>Existing Risk Assessment</ion-label>
          </ion-list-header>
          <ion-item lines="none">
            <ion-label position="stacked">Impact</ion-label>
            <ion-input type="text" placeholder="Select One" formControlName="txtriskimpact"></ion-input>
          </ion-item>

          <ion-item lines="none">
            <ion-label position="stacked">Likelihood</ion-label>
            <ion-input type="text" placeholder="Select One" formControlName="txtrisklikelihood"></ion-input>
          </ion-item>

          <ion-item lines="none">
            <div class="form2-term">
              <p>The risk may certainly occur many times e.g. approximately above 95% chance within the next 12 months.</p>
            </div>
          </ion-item>

          <div class="existing-risk">
            <p>Existing Risk Profile Rank</p>
            <div class="existing-risk-badge">
              <ion-badge color="danger">3</ion-badge>
            </div>
          </div>
        </ion-list>
      </ion-slide>
      <ion-slide>
        <ion-list>
          <ion-list-header color="secondary">
            <ion-label>Risk Control</ion-label>
          </ion-list-header>
          <ion-item lines="none">
            <ion-label position="stacked">Control Owner</ion-label>
            <ion-select placeholder="Select One" [(ngModel)]="userPref.councode" (ionChange)="onChangeCountry($event)" formControlName="councode">
              <ion-select-option *ngFor="let val of countryArr" value="{{ val.ct_id }}">{{ val.ct_name }}</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item lines="none">
            <ion-label position="stacked">Control Description</ion-label>
            <ion-input type="text" placeholder="Select One" formControlName="txtrisklikelihood"></ion-input>
          </ion-item>

          <ion-item lines="none">
            <ion-label position="stacked">Control Effectiveness</ion-label>
            <ion-input type="text" placeholder="Select One" formControlName="txtrisklikelihood"></ion-input>
          </ion-item>

          <ion-item lines="none">
            <div class="form2-term">
              <p>Management can decide to share the risk with a third party via sub-contracting, joint venture, partnership, and outsourcing or insurance.</p>
            </div>
          </ion-item>
          <ion-item lines="none">
            <ion-label position="stacked">Risk Control Period (Every)</ion-label>
            <ion-row>
              <ion-col size="3">
                <ion-input type="text" placeholder="Select One" formControlName="txtrisklikelihood"></ion-input>
              </ion-col>
              <ion-col size="9">
                <ion-select placeholder="Select One" [(ngModel)]="userPref.councode" (ionChange)="onChangeCountry($event)" formControlName="councode">
                  <ion-select-option *ngFor="let val of countryArr" value="{{ val.ct_id }}">{{ val.ct_name }}</ion-select-option>
                </ion-select>
              </ion-col>
            </ion-row>
          </ion-item>

          <ion-item lines="none">
            <ion-label position="stacked">Assistant of Control Owner</ion-label>
            <ion-select placeholder="Select One" [(ngModel)]="userPref.councode" (ionChange)="onChangeCountry($event)" formControlName="councode">
              <ion-select-option *ngFor="let val of countryArr" value="{{ val.ct_id }}">{{ val.ct_name }}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
      </ion-slide>

      <ion-slide>
        <ion-list>
          <ion-list-header color="secondary">
            <ion-label>Residual Risk Assessment</ion-label>
          </ion-list-header>
          <ion-item lines="none">
            <ion-label position="stacked">Impact</ion-label>
            <ion-input type="text" placeholder="Select One" formControlName="txtriskimpact"></ion-input>
          </ion-item>

          <ion-item lines="none">
            <ion-label position="stacked">Likelihood</ion-label>
            <ion-input type="text" placeholder="Select One" formControlName="txtrisklikelihood"></ion-input>
          </ion-item>

          <ion-item lines="none">
            <div class="form2-term">
              <p>The risk may occur several times e.g. approximately 50-95% chance in the next 12 months.</p>
            </div>
          </ion-item>

          <div class="existing-risk">
            <p>Residual Risk Profile Rank</p>
            <div class="existing-risk-badge">
              <ion-badge color="warning">3</ion-badge>
            </div>
          </div>
        </ion-list>
      </ion-slide>
    </ion-slides>
    
  </form>
</ion-content>

<ion-footer class="ion-no-border ion-align-items-center" collapse="fade">
  <ion-grid>
    <ion-row>
      <ion-col *ngIf="currentValue!=1"><ion-button shape="round" (click)="slidePrev()" color="warning">Back</ion-button></ion-col>
      <ion-col *ngIf="currentValue!=1"><ion-button shape="round" color="light">Draft</ion-button></ion-col>
      <ion-col class="ion-text-right"><ion-button shape="round" (click)="slideNext()" [color]="currentValue == 4 ? 'success' : 'primary'">NEXT</ion-button></ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>