<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/tabs"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      {{topTitle}}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/notification']">
        <ion-badge color="warning">3</ion-badge>
        <ion-icon name="notifications-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false" class="ion-no-padding">
  <form (ngSubmit)="addTask()" [formGroup]="newTaskForm">
    <ion-list>      
      <ion-list-header color="secondary">
        <ion-label>Risk Identification</ion-label>
      </ion-list-header>
      <ion-item lines="none">
        <ion-label position="stacked">Task ID</ion-label>
        <ion-note slot="end">{{ taskId }}</ion-note>
      </ion-item>

      <ion-item lines="none">
        <ion-label position="stacked">In Group</ion-label>
        <ion-select placeholder="Select One" formControlName="grid">
          <ion-select-option *ngFor="let val of groupArr" value="{{ val.gr_id }}">{{ val.gr_name }}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item lines="none">
        <ion-label position="stacked">Priority</ion-label>
        <ion-select placeholder="Select One" formControlName="prid">
          <ion-select-option *ngFor="let val of priorityArr" value="{{ val.pr_id }}">{{ val.pr_name }}</ion-select-option>
        </ion-select>
      </ion-item>
      
      <ion-item lines="none">
        <ion-label position="stacked">Next Reporting Date</ion-label>
        <ion-input type="date" displayFormat="MM/DD/YYYY" formControlName="txtduedate"></ion-input>
      </ion-item>
      
      <ion-item lines="none">
        <ion-label position="stacked">Est. Completion Date</ion-label>
        <ion-input type="date" displayFormat="MM/DD/YYYY" formControlName="txtestdate"></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-label position="stacked">Reporting Internal</ion-label>
        <ion-input formControlName="cmbinterval"></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-label position="stacked">Subject</ion-label>
        <ion-input type="text" formControlName="txttitle"></ion-input>
      </ion-item>
  
      <ion-item lines="none">
        <ion-label position="stacked">Description</ion-label>
        <ion-textarea formControlName="txtdesc"></ion-textarea>
      </ion-item>
    </ion-list>

    <div *ngIf="task_attributes" class="task_attributes">
      <ion-list lines="full" class="ion-no-margin">
        <ion-list-header> Task Attributes </ion-list-header>
  
        <ion-item lines="none">
          <ion-label position="stacked">Country</ion-label>
          <ion-select [interfaceOptions]="{cssClass: 'my-customtask'}" placeholder="Select One" [(ngModel)]="userPref.councode" (ionChange)="onChangeCountry($event)" formControlName="councode">
            <ion-select-option *ngFor="let val of countryArr" value="{{ val.ct_id }}">{{ val.ct_name }}</ion-select-option>
          </ion-select>
        </ion-item>
  
        <ion-item lines="none">
          <ion-label position="stacked">Company</ion-label>
          <ion-select [interfaceOptions]="{cssClass: 'my-customtask'}" placeholder="Select One" [(ngModel)]="userPref.compcode" (ionChange)="onChangecompany($event)" formControlName="compcode">
            <ion-select-option *ngFor="let val of companyArr" value="{{ val.co_id }}">{{ val.co_name }}</ion-select-option>
          </ion-select>
        </ion-item>
  
        <ion-item lines="none">
          <ion-label position="stacked">Departement</ion-label>
          <ion-select [interfaceOptions]="{cssClass: 'my-customtask'}" placeholder="Select One" [(ngModel)]="userPref.deptcode" (ionChange)="onChangeDepartement($event)" formControlName="deptcode">
            <ion-select-option *ngFor="let val of deptArr" value="{{ val.dept_id }}">{{ val.dept_name }}</ion-select-option>
          </ion-select>
        </ion-item>
  
        <ion-item lines="none">
          <ion-label position="stacked">Category</ion-label>
          <!-- <ion-select [interfaceOptions]="{cssClass: 'my-customtask'}" placeholder="Select One" [(ngModel)]="userPref.txtcat" (ionChange)="onChangeCategory($event)" formControlName="txtcat">
            <ion-select-option *ngFor="let val of categoryArr" class="ion-text-wrap" value="{{ val.cat_id }}">{{ val.cat_name }}</ion-select-option>
          </ion-select> -->
          <ion-input type="text" placeholder="Select One" formControlName="txtcatname" (click)="presentModal()"></ion-input>
        </ion-item>
  
        <ion-item lines="none">
          <ion-label position="stacked">Topic</ion-label>
          <ion-select [interfaceOptions]="{cssClass: 'my-customtask'}" placeholder="Select One" [(ngModel)]="userPref.txttopiccode" (ionChange)="onChangeTopic($event)" formControlName="txttopiccode">
            <ion-select-option *ngFor="let val of topicArr" class="ion-text-wrap" value="{{ val.kode }}">{{ val.topik }}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </div>

    <div *ngIf="task_cc" class="task_cc">
      <ion-list lines="full" class="ion-no-margin">

      </ion-list>
    </div>

    <div *ngIf="task_attch" class="task_attch">
      <ion-list lines="full" class="ion-no-margin">
        <ion-item *ngFor="let file of [0,1,2,3]; index as i" lines="none">
          <ion-label position="stacked">Select file {{ (i+1) }}</ion-label>
          <ion-input type="file" (change)="onFileChange($event,i)" accept="image/*" name="txt_file{{ (i+1) }}"></ion-input>
        </ion-item>
      </ion-list>
    </div>
    
    <div class="ion-text-center">
      <ion-button type="submit" fill="outline" [disabled]="!newTaskForm.valid">SAVE TASK</ion-button>
    </div>
    
  </form>
</ion-content>