// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #3880ff;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary: #3dc2ff;
  --ion-color-secondary-rgb: 61, 194, 255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #36abe0;
  --ion-color-secondary-tint: #50c8ff;

  /** tertiary **/
  --ion-color-tertiary: #5260ff;
  --ion-color-tertiary-rgb: 82, 96, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #4854e0;
  --ion-color-tertiary-tint: #6370ff;

  /** success **/
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  /** danger **/
  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  /** active **/
	--ion-color-active: #3498DB;
	--ion-color-active-rgb: 52,152,219;
	--ion-color-active-contrast: #ffffff;
	--ion-color-active-contrast-rgb: 255, 255, 255;
	--ion-color-active-shade: #2e86c1;
	--ion-color-active-tint: #48a2df;

  /** overdue **/
	--ion-color-overdue: #26B99A;
	--ion-color-overdue-rgb: 38,185,154;
	--ion-color-overdue-contrast: #ffffff;
	--ion-color-overdue-contrast-rgb: 255, 255, 255;
	--ion-color-overdue-shade: #21a388;
	--ion-color-overdue-tint: #3cc0a4;

  /** completed **/
  --ion-color-completed: #9B59B6;
	--ion-color-completed-rgb: 155,89,182;
	--ion-color-completed-contrast: #ffffff;
	--ion-color-completed-contrast-rgb: 255,255,255;
	--ion-color-completed-shade: #884ea0;
	--ion-color-completed-tint: #a56abd;

  /** closed **/
	--ion-color-closed: #BDC3C7;
	--ion-color-closed-rgb: 189,195,199;
	--ion-color-closed-contrast: #ffffff;
	--ion-color-closed-contrast-rgb: 255,255,255;
	--ion-color-closed-shade: #a6acaf;
	--ion-color-closed-tint: #c4c9cd;

  /** inactive **/
	--ion-color-inactive: #E74C3C;
	--ion-color-inactive-rgb: 231,76,60;
	--ion-color-inactive-contrast: #ffffff;
	--ion-color-inactive-contrast-rgb: 255,255,255;
	--ion-color-inactive-shade: #cb4335;
	--ion-color-inactive-tint: #e95e50;

  /** archived **/
  --ion-color-archived: #FFFFFF;
	--ion-color-archived-rgb: 255,255,255;
	--ion-color-archived-contrast: #000000;
	--ion-color-archived-contrast-rgb: 0,0,0;
	--ion-color-archived-shade: #e0e0e0;
	--ion-color-archived-tint: #ffffff;

  /** catasthropic **/
	--ion-color-catasthropic: #F54336;
	--ion-color-catasthropic-rgb: 245,67,54;
	--ion-color-catasthropic-contrast: #ffffff;
	--ion-color-catasthropic-contrast-rgb: 255,255,255;
	--ion-color-catasthropic-shade: #d83b30;
	--ion-color-catasthropic-tint: #f6564a;

  /** major **/
	--ion-color-major: #FFAF50;
	--ion-color-major-rgb: 255,175,80;
	--ion-color-major-contrast: #ffffff;
	--ion-color-major-contrast-rgb: 255,255,255;
	--ion-color-major-shade: #e09a46;
	--ion-color-major-tint: #ffb762;

  /** moderate **/
	--ion-color-moderate: #FBE627;
	--ion-color-moderate-rgb: 251,230,39;
	--ion-color-moderate-contrast: #ffffff;
	--ion-color-moderate-contrast-rgb: 255,255,255;
	--ion-color-moderate-shade: #ddca22;
	--ion-color-moderate-tint: #fbe93d;

  /** minor **/
	--ion-color-minor: #C4FB27;
	--ion-color-minor-rgb: 196,251,39;
	--ion-color-minor-contrast: #ffffff;
	--ion-color-minor-contrast-rgb: 255,255,255;
	--ion-color-minor-shade: #acdd22;
	--ion-color-minor-tint: #cafb3d;

  /** insignificant **/
	--ion-color-insignificant: #4AAF57;
	--ion-color-insignificant-rgb: 74,175,87;
	--ion-color-insignificant-contrast: #ffffff;
	--ion-color-insignificant-contrast-rgb: 255,255,255;
	--ion-color-insignificant-shade: #419a4d;
	--ion-color-insignificant-tint: #5cb768;

  /** draft **/
	--ion-color-draft: #4AAF57;
	--ion-color-draft-rgb: 74,175,87;
	--ion-color-draft-contrast: #ffffff;
	--ion-color-draft-contrast-rgb: 255,255,255;
	--ion-color-draft-shade: #419a4d;
	--ion-color-draft-tint: #5cb768;

  /** pending-approval **/
	--ion-color-pending-approval: #4AAF57;
	--ion-color-pending-approval-rgb: 74,175,87;
	--ion-color-pending-approval-contrast: #ffffff;
	--ion-color-pending-approval-contrast-rgb: 255,255,255;
	--ion-color-pending-approval-shade: #419a4d;
	--ion-color-pending-approval-tint: #5cb768;
}
