<ion-content [fullscreen]="true" class="ion-padding">
  <div class="wrapper-app ion-padding">
    <h1>Login to your Account</h1>
    <form [formGroup]="FormLogin" (ngSubmit)="login()">
      <ion-item lines="none">
        <div color="dark"  slot="start">
          <ion-icon slot="icon-only" name="person" ></ion-icon>
        </div>
        <ion-input type="text" placeholder="Username" formControlName="usid"></ion-input>
      </ion-item>

      <ion-item lines="none">
        <div color="dark"  slot="start">
          <ion-icon slot="icon-only" name="lock-closed"></ion-icon>
        </div>
        <ion-input [type]="!showPasswordText? 'password' : 'text'" placeholder="Password"  formControlName="pass"></ion-input>
        <ion-icon color="dark" slot="icon-only" (click)="showPasswordText = !showPasswordText" [name]="!showPasswordText? 'eye-off' : 'eye'" slot="end" class="ion-align-self-center"></ion-icon>
      </ion-item>
      
      <div class="ion-text-center">
        <ion-row>
          <ion-col size="4" class="ion-text-right">
            <ion-checkbox value="remember"></ion-checkbox>
          </ion-col>
          <ion-col size="8" class="ion-text-left">Remember Me!</ion-col>
        </ion-row>
        
        <ion-button type="submit" expand="full" shape="round" color="primary" [disabled]="!FormLogin.valid">Sign In</ion-button>
  
        <p class="ion-padding" (click)="forgotPass()">Forgot the password?</p>
        <!-- <p (click)="contactAdminPage()">Contact Admin</p> -->
      </div>
    </form>
  </div>
</ion-content>