ion-header {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 25px;
    text-align: center;
    --ion-text-color: var(--color, '#4E4E4E');
}

ion-content {
    // --padding-top: var(--ion-padding, 150px);
    // --ion-text-color: var(--ion-color-primary, '#4E4E4E');

    .wrapper-app {
        color: #656565;
        min-height: 100%;
        align-items: center;
        padding-bottom: 20px !important;
    }

    h1 {
        font-family: 'Ubuntu';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 46px;
        color: #4E4E4E;
    }

    p {
        color: #2BA0C5;
    }

    ion-list{
        background-color: transparent;
        padding: 0;
    }
    ion-row {
        align-items: center;
        text-align: center;
    }
    ion-item {
        border-radius: 10px;
        margin-bottom: 15px;
        color: #A8A8A8;
        --ion-background-color:#F8F8F8;
        div {
            padding-right: 10px;
            margin-inline-end: 0px;
        }
    }
}

// ion-content{
//     color: var(-ion-color-primary, #F61F6C);
// }

// .input-group {
//     background: #fff;
//     border-radius: 10px;
//     overflow: hidden;
//     margin-bottom: 15px;
// }

// .errors {
//     width: 100%;
//     font-size: small;
//     color: #fff;
//     background: var(--ion-color-danger);
//     padding-left: 15px;
//     padding-top: 5px;
//     padding-bottom: 5px;
// }

// .Rectangle3 {
//     position: absolute;
//     width: 269px;
//     height: auto;
//     left: -5px;
//     top: 5px;
//     background: #FFFEFE;
//     border: 2px solid #E6E3E3;
//     border-radius: 4px;
//     padding: 48px 20px 0px;
//     color: #F61F6C;

//     ion-label {
//         color: #F61F6C !important;
//     }

//     ion-button[type='submit']{
//         width: 150px;
//     }

//     p { margin-top: 1rem; margin-bottom: 0px; }
//     a {
//         color: #F61F6C;
//         text-decoration: none;
//     }
//     h5 { font-size: 16px; }

//     .tag {
//         border-left: 4px solid #F61F6C;
//         height: 38px;
//         width: 0px;
//         position: absolute;
//         left: -2px;
//     }
// }

// .Rectangle4 {
//     position: absolute;
//     min-width: 263px;
//     height: 325px;
//     left: 58px;
//     top: 140px;

//     background: #FFFDFD;
//     border: 2px solid #E5E3E3;
//     box-sizing: border-box;
//     border-radius: 4px;
// }

// ion-item {
//     --padding-start: 0px;
// }

// ion-fab-button {
//   width: 75px;
//   height: 75px;
// }
// .fab-vertical-top { margin-right: -40px; margin-top: 25px; }