ion-content {

    ion-item {
        border-radius: 10px;
        margin-bottom: 15px;
        color: #A8A8A8;
        --ion-background-color:#F8F8F8;
    }

    ion-textarea {
        --background: #F8F8F8;
        border-radius: 10px;
    }
}