/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

ion-header {
	text-align: center;
	font-size: 16px;
    // --ion-text-color: var(--ion-color-primary, '#2BA0C5');
	ion-toolbar {
		--min-height: 50px;
	}
	ion-badge {
      position: absolute;
      right: -8px;
      top: 0px;
      z-index: 1;
	}
}

ion-content {
    --ion-text-color: var(--ion-color-primary, '#2BA0C5');
}

ion-searchbar {
//   text-align: right;
  ion-icon {
    // right: 5px !important;
    // left: auto !important;
  }
}

.my-customtask .alert-wrapper {
  min-width: 350px !important;
}

.ion-color-overdue {
	// --ion-color-base: var(--ion-color-overdue);
	// --ion-color-base-rgb: var(--ion-color-overdue-rgb);
	// --ion-color-contrast: var(--ion-color-overdue-contrast);
	// --ion-color-contrast-rgb: var(--ion-color-overdue-contrast-rgb);
	// --ion-color-shade: var(--ion-color-overdue-shade);
	// --ion-color-tint: var(--ion-color-overdue-tint);
	--ion-color-base: var(--ion-color-major);
	--ion-color-base-rgb: var(--ion-color-major-rgb);
	--ion-color-contrast: var(--ion-color-major-contrast);
	--ion-color-contrast-rgb: var(--ion-color-major-contrast-rgb);
	--ion-color-shade: var(--ion-color-major-shade);
	--ion-color-tint: var(--ion-color-major-tint);
}

.ion-color-active {
	--ion-color-base: var(--ion-color-active);
	--ion-color-base-rgb: var(--ion-color-active-rgb);
	--ion-color-contrast: var(--ion-color-active-contrast);
	--ion-color-contrast-rgb: var(--ion-color-active-contrast-rgb);
	--ion-color-shade: var(--ion-color-active-shade);
	--ion-color-tint: var(--ion-color-active-tint);
}

.ion-color-completed {
	// --ion-color-base: var(--ion-color-completed);
	// --ion-color-base-rgb: var(--ion-color-completed-rgb);
	// --ion-color-contrast: var(--ion-color-completed-contrast);
	// --ion-color-contrast-rgb: var(--ion-color-completed-contrast-rgb);
	// --ion-color-shade: var(--ion-color-completed-shade);
	// --ion-color-tint: var(--ion-color-completed-tint);
	--ion-color-base: var(--ion-color-insignificant);
	--ion-color-base-rgb: var(--ion-color-insignificant-rgb);
	--ion-color-contrast: var(--ion-color-insignificant-contrast);
	--ion-color-contrast-rgb: var(--ion-color-insignificant-contrast-rgb);
	--ion-color-shade: var(--ion-color-insignificant-shade);
	--ion-color-tint: var(--ion-color-insignificant-tint);
}

.ion-color-closed {
	// --ion-color-base: var(--ion-color-closed);
	// --ion-color-base-rgb: var(--ion-color-closed-rgb);
	// --ion-color-contrast: var(--ion-color-closed-contrast);
	// --ion-color-contrast-rgb: var(--ion-color-closed-contrast-rgb);
	// --ion-color-shade: var(--ion-color-closed-shade);
	// --ion-color-tint: var(--ion-color-closed-tint);
	--ion-color-base: var(--ion-color-catasthropic);
	--ion-color-base-rgb: var(--ion-color-catasthropic-rgb);
	--ion-color-contrast: var(--ion-color-catasthropic-contrast);
	--ion-color-contrast-rgb: var(--ion-color-catasthropic-contrast-rgb);
	--ion-color-shade: var(--ion-color-catasthropic-shade);
	--ion-color-tint: var(--ion-color-catasthropic-tint);
}

.ion-color-archived {
	--ion-color-base: var(--ion-color-archived);
	--ion-color-base-rgb: var(--ion-color-archived-rgb);
	--ion-color-contrast: var(--ion-color-archived-contrast);
	--ion-color-contrast-rgb: var(--ion-color-archived-contrast-rgb);
	--ion-color-shade: var(--ion-color-archived-shade);
	--ion-color-tint: var(--ion-color-archived-tint);
}

.ion-color-inactive {
	--ion-color-base: var(--ion-color-inactive);
	--ion-color-base-rgb: var(--ion-color-inactive-rgb);
	--ion-color-contrast: var(--ion-color-inactive-contrast);
	--ion-color-contrast-rgb: var(--ion-color-inactive-contrast-rgb);
	--ion-color-shade: var(--ion-color-inactive-shade);
	--ion-color-tint: var(--ion-color-inactive-tint);
}

.ion-color-catasthropic {
	--ion-color-base: var(--ion-color-catasthropic);
	--ion-color-base-rgb: var(--ion-color-catasthropic-rgb);
	--ion-color-contrast: var(--ion-color-catasthropic-contrast);
	--ion-color-contrast-rgb: var(--ion-color-catasthropic-contrast-rgb);
	--ion-color-shade: var(--ion-color-catasthropic-shade);
	--ion-color-tint: var(--ion-color-catasthropic-tint);
}

.ion-color-major {
	--ion-color-base: var(--ion-color-major);
	--ion-color-base-rgb: var(--ion-color-major-rgb);
	--ion-color-contrast: var(--ion-color-major-contrast);
	--ion-color-contrast-rgb: var(--ion-color-major-contrast-rgb);
	--ion-color-shade: var(--ion-color-major-shade);
	--ion-color-tint: var(--ion-color-major-tint);
}

.ion-color-moderate {
	--ion-color-base: var(--ion-color-moderate);
	--ion-color-base-rgb: var(--ion-color-moderate-rgb);
	--ion-color-contrast: var(--ion-color-moderate-contrast);
	--ion-color-contrast-rgb: var(--ion-color-moderate-contrast-rgb);
	--ion-color-shade: var(--ion-color-moderate-shade);
	--ion-color-tint: var(--ion-color-moderate-tint);
}

.ion-color-minor {
	--ion-color-base: var(--ion-color-minor);
	--ion-color-base-rgb: var(--ion-color-minor-rgb);
	--ion-color-contrast: var(--ion-color-minor-contrast);
	--ion-color-contrast-rgb: var(--ion-color-minor-contrast-rgb);
	--ion-color-shade: var(--ion-color-minor-shade);
	--ion-color-tint: var(--ion-color-minor-tint);
}

.ion-color-insignificant {
	--ion-color-base: var(--ion-color-insignificant);
	--ion-color-base-rgb: var(--ion-color-insignificant-rgb);
	--ion-color-contrast: var(--ion-color-insignificant-contrast);
	--ion-color-contrast-rgb: var(--ion-color-insignificant-contrast-rgb);
	--ion-color-shade: var(--ion-color-insignificant-shade);
	--ion-color-tint: var(--ion-color-insignificant-tint);
}

.ion-color-draft {
	--ion-color-base: var(--ion-color-draft);
	--ion-color-base-rgb: var(--ion-color-draft-rgb);
	--ion-color-contrast: var(--ion-color-draft-contrast);
	--ion-color-contrast-rgb: var(--ion-color-draft-contrast-rgb);
	--ion-color-shade: var(--ion-color-draft-shade);
	--ion-color-tint: var(--ion-color-draft-tint);
}

.ion-color-pending-approval {
	--ion-color-base: var(--ion-color-pending-approval);
	--ion-color-base-rgb: var(--ion-color-pending-approval-rgb);
	--ion-color-contrast: var(--ion-color-pending-approval-contrast);
	--ion-color-contrast-rgb: var(--ion-color-pending-approval-contrast-rgb);
	--ion-color-shade: var(--ion-color-pending-approval-shade);
	--ion-color-tint: var(--ion-color-pending-approval-tint);
}

ion-searchbar{
  .searchbar-input-container{
    .searchbar-input{
      border-radius: 10px !important;
    }
  }
}
